<% parties.each do |party| %>
  <div class="party-info">
    <h2><%= party.name %></h2>

    <% party.party_opinions.each do |party_opinion| %>
      <li>
        <strong><%= party_opinion.issue.name %>:</strong>
        <%= party_opinion.details %>
      </li>
    <% end %>

  </div>

  <% unless parties.index(party) == parties.length - 1 %>
    <hr>
  <% end %>
<% end %>
