<div class="container py-3">
  <!-- <h1 class="mb-5">Your Results: See which party most aligns with your beliefs</h1> -->

  <div class="text-center">
    <%= image_tag("piechart", class: "pie-chart") %>
  </div>

  <%# @scores.each do |score| %>
    <!-- <p><strong><%#= score.party.name %></strong>: <%#= score.score %> matching answers</p> -->
  <%# end %>

  <% @user_opinions.each do |user_opinion| %>
    <li>
      <h2 class="text-center">
        <%= user_opinion.issue.name %>
      </h2>

      <h5 class="mt-3">Question: <%= user_opinion.issue.question %></h5>

      <div class="your-answer">Your Answer:
        <% if user_opinion.stance %>
          <span class="user-stance">I Agree</span>
        <% else %>
          <span class="user-stance">I Disagree</span>
        <% end %>

      </div>

      <div class="mt-3">
        <% @parties.each do |party| %>
          <% if party.party_opinions.find_by(issue: user_opinion.issue).stance == user_opinion.stance %>
            <div class="party-stance match">
              <i class="far fa-check-circle"></i>
          <% else %>
            <div class="party-stance not-match">
              <i class="far fa-times-circle"></i>
          <% end %>

              <strong><%= party.name %>: </strong>
              <% if party.party_opinions.find_by(issue: user_opinion.issue).stance %>
                  <span class="user-stance">Agree</span>
              <% else %>
                <span class="user-stance">Disagree</span>
              <% end %>
            </div>
          <!-- </div> -->
        <% end %>

      </div>


    </li>

    <hr>
  <% end %>

</div>
