.button-answer {
  background-color: white;
  color: black;
  border: 2px solid #191970;
  border-radius: 2px;
  padding: 6px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.1s;
  cursor: pointer;

  &.selected {
    background-color: #191970;
    color: white;
  }

  &:hover {
    background-color: #191970;
    color: white;
    text-decoration: none;
  }
}

.btn-primary {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 75px;
  background-color: #00C89F;

  &:hover {
    text-decoration: none;
    border: none;
  }

}
