// Place all the styles related to the Parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

.party-dropdown {
  text-align: center;
}

.party-cards h2 {
  justify-content: center;
}

.party-info li {
  margin: 3vh;
}

.party-info h2 {
  margin-left: 3vw;
  margin-top: 3vh;
}

