.quizz-flexbox {
  display: flex;
  flex-direction: column;
  border: 2px solid lightgray;
  border-radius: 9px;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  box-shadow: 0 1px 5px 1px rgba(191, 191, 191, 0.8);
}

.text-center {
  font-family: Georgia, serif;
}

.banner-quizz {
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('ivote.jpg');
  background-size: cover;
  background-position: 25% 57%;
  height: 35vh;  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.title-quizz {
  text-align: center;
  margin: 2.5rem;
  font-family: 'DM Serif Display', serif;
  font-weight: normal;
  color: white;
}

li {
  list-style: none;
  margin: 25px;
}

