.party-stance {
  font-size: 18px;

  i {
    font-size: 32px;
  }

  &.match i {
    color: green;
  }

  &.not-match i {
    color: red;
  }

  &.match .user-stance {
    color: green;
  }

  &.not-match .user-stance {
    color: red;
  }

}

.your-answer {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 5px;
}
